name: tagpr

on:
  push:
    branches:
      - main

jobs:
  tagpr:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ steps.app-token.outputs.token }}

      - id: tagpr
        uses: Songmu/tagpr@c1eee374e3f44584c9f61bc10f2e345acb7cc3ad # v1
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
