name: Test slack-approval

on:
  workflow_dispatch:
    inputs:
      runner:
        type: choice
        options:
          - ubuntu-latest
          - ubuntu-24.04-arm
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  approval:
    runs-on: ${{ inputs.runner }}
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: ./
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          app-token: ${{ secrets.SLACK_APP_TOKEN }}
          channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
          mention-to-users: ${{ secrets.MENTION_TO_USERS }}
          mention-to-groups: ${{ secrets.MENTION_TO_GROUPS }}
          authorized-users: ${{ secrets.AUTHORIZED_USERS }}
          authorized-groups: ${{ secrets.AUTHORIZED_GROUPS }}
        timeout-minutes: 5
